{% extends 'base.html.twig' %}


{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_home_admin') }}">admin</a>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_home_client') }}">client</a>
    {% endif %}





{#    #}{# <div class="lavalite-bg" style="background-image:url('{{asset('imagepartage-fichiers.jpg')}}')"> #}
{#        <main class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-8">#}
{#                    #}
{#                </div>#}
{#            </div>#}

{#        </main>#}


{#        <img src={{ 'image/partage-fichiers.jpg '}} width="100%" >#}


{% endblock %}
