<form method="post" action="{{ path('app_t_e_s_t_delete', {'id': t_e_s_t.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_e_s_t.id) }}">
    <button class="btn">Delete</button>
</form>
